/TypeClasssesEx/.idea/
/TypeClasssesEx/target/
/TypeClasssesEx/project/
/scalaProject1/.idea/
/scalaProject1/target/
/scalaProject1/project/
/quickstart/.idea/
/quickstart/target/
/quickstart/project/